@using Newtonsoft.Json.Linq;
@using aFun.Models;
@{
    JArray listcate = (JArray)ViewBag.ma_cate;
    string PCODE, PNAME, PURL;
    string AUTO_ID, TXNAME, TXURL, AVATAR, SHORT_DESC, LAST_DATE, CATE_NAME, CATE_CODE, ISVIEW;
    int i = 0;
    AUTO_ID = TXNAME = CATE_NAME = CATE_CODE = SHORT_DESC = TXURL = AVATAR = LAST_DATE = "";
    ISVIEW = "0";
    PURL = "/";
    ////////////////////////////////////////////////////////////////////////////
    ViewBag.Title = "Tin tức - aFun";
    ViewBag.Description = "Tin tức - aFun";
    ViewBag.Images = "http://aFun.vn/Content/images/logo_600x600.png";
    ViewBag.UrlWeb = "http://aFun.vn/";
    ViewBag.UrlWap = "http://m.aFun.vn/";
        ///////////////////////////////////////////////////////////////////////////////
}

<div class="content_dv">
    @try
    {
        if (listcate != null && listcate.Count > 0)
        {
            foreach (var itemp in listcate)
            {

                PCODE = itemp["CATE_CODE"].ToString();
                PNAME = itemp["TXNAME"].ToString();
                PURL = MakeLink.MakeCateNews(PNAME, PCODE);
                JObject mo = MyControllers.GetListNews(PCODE, 0, 5);
                mo = JObject.Parse(mo["Body"]["Data"].ToString());
                JArray listdata = JArray.Parse(mo["NEW"].ToString());
               
        <div class="box_dv vb">
            <div class="title_box_dv">
                <a href="@PURL" id="icon_news">
                    @PNAME</a>
            </div>
            <div class="content_box">
                <div class="tin">
                    @if (listdata != null && listdata.Count > 0)
                    {
                        <ul>
                            @foreach (var item in listdata)
                            {
                                AUTO_ID = item["AUTO_ID"].ToString();
                                TXNAME = item["TXNAME"].ToString();
                                if (TXNAME.Length > 65)
                                {
                                    TXNAME = TXNAME.Substring(0, 65).ToString() + "...";
                                }
                                CATE_NAME = item["CATE_NAME"].ToString();
                                CATE_CODE = item["CATE_CODE"].ToString();
                                AVATAR = item["AVATAR"].ToString();
                                SHORT_DESC = item["SHORT_DESC"].ToString();
                                if (SHORT_DESC.Length > 65)
                                {
                                    SHORT_DESC = SHORT_DESC.Substring(0, 65).ToString() + "...";
                                }

                                LAST_DATE = item["LAST_DATE"].ToString();
                                ISVIEW = item["ISVIEW"].ToString();
                                TXURL = MakeLink.MakeNews(CATE_NAME, TXNAME, AUTO_ID);
                                <li>
                                    <a href="@TXURL">
                                        <img src="@AVATAR" alt="@TXNAME" /></a>
                                    <a href="@TXURL"><span class="title_tin">@TXNAME</span></a>
                                    <span class="detail_tin">
                                        @SHORT_DESC
                                    </span>
                                </li>
                            }
                        </ul>
                        <a href="@PURL" title="Xem thêm">
                            <div class="btn_xemthem">
                                <i class="icon-arrow-right"><span>Xem thêm</span></i>
                            </div>
                        </a>
                    }
                    else
                    {
                        <p class="nodata">
                            Dữ liệu đang cập nhật...
                        </p>
                    }
                </div>
            </div>
        </div>
            }
        }
    }
    catch (Exception)
    {
    }
    @Html.Partial("_Link")
</div>
